<div>

    {% if variant_product %}
    {% for variant in variant_product.variants %}
    <div class="variant" data-id="{{ variant.id }}" data-title="{{ variant.title }}"
        data-option1="{{ variant.option1 }}" data-option2="{{ variant.option2 }}" data-option3="{{ variant.option3 }}"
        data-available="{{variant.available }}"></div>
    {% endfor %}
    <div id="options">
        {% for option in variant_product.options_with_values %}
        <div class="option-group" data-option-group="{{ option.name }}">
            <label class="option-label not-selected" data-option-name="{{ option.name }}"
                for="option-{{ option.name | handleize }}">
                {{- option.name -}}
            </label>
            <div class='option-button-wrapper'>
                {% for val in option.values %}

                <button class="option-btn" data-name="{{ val.name }}" data-option-name="{{ option.name }}"
                    style='background-color:{{ val.name }}'>
                    <span>{{ val.name }}</span>
                </button>

                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <button class="button variant-add-to-cart" disabled data-variant-id="">Add to Cart</button>
    </div>
    {% endif %}
</div>